.secondary-image{
    min-height: 100vh;
    background-image: url('/images/marbles/burdurbeige.jpg') ;
    background-size: cover;
    background-position: 0;
}

.main-image-bottom{
    /* Default background image */
    min-height: 100vh;
    background-size: cover;
    background-position: 0;

    /* Media queries for different screen sizes */
    @media (max-width: 600px) {
        background-image: url('/images/mp1-256.png');
    }
    @media (min-width: 601px) and (max-width: 900px) {
        background-image: url('/images/mp1-512.png');
    }
    @media (min-width: 901px) {
        background-image: url('/images/mp1-1024.png');
    }
}

.marble-grid{
    grid-template-columns: repeat(auto-fill,500px,1fr);
    gap: 10px;
}

@media screen and (min-width:1024px) {
    .marble-grid{
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    
}

.main-image{
    /* Default background image */
    min-height: 100vh;
    background-size: cover;
    background-position: 0;

    /* Media queries for different screen sizes */
    @media (max-width: 600px) {
        background-image: url('/images/mp-256.png');
    }
    @media (min-width: 601px) and (max-width: 900px) {
        background-image: url('/images/mp-512.png');
    }
    @media (min-width: 901px) {
        background-image: url('/images/mp-1024.png');
    }
}